<div class="card my-5">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-end mb-4">
        <h3 class="mb-0">
          {{ titulo }}
          <!--Interpolacion
            sirve para enviar datos desde el .ts hacia el html
            -->
        </h3>
      </div>
      <form [formGroup]="frm_Empleado" (ngSubmit)="grabar()">
        <div class="row">
          <div class="form-group mb-3">
            <label class="form-label" for="nombre">Nombre</label>
            <input formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="Ingrese los nombre" />
            <div *ngIf="frm_Empleado.get('nombre').invalid && frm_Empleado.get('nombre').touched">
              <small *ngIf="frm_Empleado.get('nombre').hasError('required')" style="color: red">Los nombre son requeridos</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="apellido">Apellido</label>
            <input type="text" formControlName="apellido" class="form-control" id="apellido" />
            <div *ngIf="frm_Empleado.get('apellido').invalid && frm_Empleado.get('apellido').touched">
              <small *ngIf="frm_Empleado.get('apellido').hasError('required')" style="color: red">El apellido es requerido</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="telefono">Telefono</label>
            <input type="text" class="form-control" formControlName="telefono" id="telefono" />
            <div *ngIf="frm_Empleado.get('telefono').invalid && frm_Empleado.get('telefono').touched">
              <small *ngIf="frm_Empleado.get('telefono').hasError('required')" style="color: red">La telefono es requerida</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="email">Correo</label>
            <input type="email" formControlName="email" class="form-control" id="email" />
            <div *ngIf="frm_Empleado.get('email').invalid && frm_Empleado.get('email').touched">
              <small *ngIf="frm_Empleado.get('email').hasError('required')" style="color: red">El correo es requerido</small>
              <small *ngIf="frm_Empleado.get('email').hasError('email')" style="color: red">Debe ingresar un correo valido</small>
            </div>
          </div>
          <div class="d-grid mt-3">
            <button type="submit" class="btn btn-primary" [disabled]="frm_Empleado.invalid">Grabar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <!--
    IMPORTAR => FORMSMODULE  APP.MODULE.TS ||  NUEVOPROVEEDOR.COMPONENT.TS
    
    
    
    
    
    INTRPOLACION => DESDE EL TS AL HTML
    {{ }} 
    EVENTOS => EJECUTAR FUNCIONES EN EL TS
    ()
    DATA BINDING => DESDE EL HTML AL TS
    []
    TWO WAY BIDING => ENVIADO DE DATOS DESDE EL HTML AL TS Y DESDE EL TS AL HTML
    [()]
    -->